.weather_card {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  left: -2px;
}

.weather_card i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.weather_card p {
  font-size: 14px;
}
