.MainWeatherInfo {
  text-align: center;
  margin-top: 3rem;
}
#datetime {
  margin-bottom: 2rem;
  font-size: 14px;
}

.weather_icon img {
  width: 100px;
}

#weather-temperature {
  font-size: 1.75rem;
}

.unit {
  font-size: 20px;
  position: relative;
  top: -12px;
}

a:link {
  text-decoration: none;
}